<!DOCTYPE html>
[[lang]]
<head>
[[head]]
<title>[[title]]</title>
</head>
<body>
<header class="d-flex justify-content-center py-3">
	<ul class="nav nav-pills">
		<li class="nav-item"><a href="/nomina" class="nav-link active" aria-current="page">Home</a></li>
		<li class="nav-item"><a href="/nomina/?var=info" class="nav-link">Info</a></li>
	</ul>
</header>

[[contenido]]

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="mailto:marcomarkkez@gmail.com" class="nav-link px-2 text-body-secondary">Email</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/marcoantoniomarkez/" class="nav-link px-2 text-body-secondary">Linkedin</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Marco Antonio Márquez</p>
  </footer>
</div>
[[footer_scripts]]
</body>
</html>