<div class="d-flex gap-2 justify-content-center py-5">
  <a href="/nomina/?var=empleados" class="btn btn-primary rounded-pill px-3" type="button">Empleados</a>
  <a href="/nomina/?var=movimientos" class="btn btn-primary rounded-pill px-3" type="button">Movimientos</a>
  <a href="/nomina/?var=horas" class="btn btn-primary rounded-pill px-3" type="button">Horas trabajadas</a>
  <a href="/nomina/?var=entregas" class="btn btn-primary rounded-pill px-3" type="button">Pago total por entregas</a>
  <a href="/nomina/?var=bonos" class="btn btn-primary rounded-pill px-3" type="button">Pago total por bonos</a>
  <a href="/nomina/?var=retenciones" class="btn btn-primary rounded-pill px-3" type="button">Retenciones</a>
  <a href="/nomina/?var=vales" class="btn btn-primary rounded-pill px-3" type="button">Vales</a>
  <a href="/nomina/?var=sueldo" class="btn btn-primary rounded-pill px-3" type="button">Sueldo total</a>
</div>