
<div class="d-flex gap-2 justify-content-center">
  <br style="clear: both;">
  <form method="post" action="">
  <div class="form-group">
    <label for="numero_empleado">Número</label>
    <input type="text" class="form-control" name="numero_empleado" id="numero_empleado" placeholder="Ingresa número de empleado">
    <label for="nombre_empleado">Cantidad de entregas</label>
    <input type="text" class="form-control" name="entregas_empleado" id="entregas_empleado" placeholder="Ingresa la cantidad de entregas">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>